################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ComponentTestApp/obj
/ComponentTestApp/bin/Debug/net6.0
/.vs
/bin/Debug/net6.0
/obj
